<div class="ui grid">
  <div class="ui one column row">
    <div class="column">
      <h1 class="ui center aligned header">
        <%= gravatar_for @user, class: 'ui circular image' %>
        <%= "#{@user.name}'s" %> profile
      </h1>
    </div>
  </div>
  <div class="ui one column centered row">
    <div class="sixteen wide ten wide tablet ten wide computer column">
      <div class="ui raised segment">
        <div class="ui list">
          <div class="item">
            <div class="header">Messages sent</div>
            <%= @user.messages.count %>
          </div>
          <div class="item">
            <div class="header">Member since</div>
            <%= time_ago_in_words(@user.created_at) %> ago
          </div>
          <div class="item">
            <div class="header">Email</div>
            <%= link_to @user.email, "mailto:#{@user.email}" %>
          </div>
        </div>
        <%= render_delete_button @user %>
      </div>
    </div>
  </div>
</div>

